{% extends 'base.html' %}

{% block title %}
Categories
{% endblock title %}

{% block content %}
<main>
    <h1> My Categories </h1>
    <table>
        <thead>
            <th> Name </th>
            <th> Number of receipts </th>
        </thead>
        <tbody>
            {% for expense in category_list %}
            <tr>
                <td> {{ expense.name }} </td>
                <td> {{ expense.receipts.count }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
